<app-header></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
          <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-input formControlName="description"></ion-input>
          </ion-item>

          <ion-item>
            <ion-select formControlName="type" placeholder="Select type">
              <ion-select-option value="business">Business</ion-select-option>
              <ion-select-option value="leisure">Leisure</ion-select-option>
              <ion-select-option value="other">Other</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-select formControlName="state" placeholder="Select state">
              <ion-select-option value="upcoming">Upcoming</ion-select-option>
              <ion-select-option value="ongoing">Ongoing</ion-select-option>
              <ion-select-option value="finished">Finished</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-datetime-button datetime="startDatetime"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime
                  id="startDatetime"
                  formControlName="startAt"
                ></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>

          <ion-item>
            <ion-datetime-button datetime="endDatetime"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime
                  id="endDatetime"
                  formControlName="endAt"
                ></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>

          <ion-button expand="block" type="submit">{{buttonLabel}}</ion-button>

          <ion-button expand="block" (click)="resetForm()"> Reset </ion-button>

          <ion-button
            *ngIf="showAddLocationsButton"
            expand="block"
            (click)="addLocations()"
            >Add Locations</ion-button
          >
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
